.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: absolute;
  top: 90px;
  left: 240px;
}
@media(min-width:481px){
  .rad{
    border-radius: 50%;
    position: absolute;
    top: 266px;
    left: 195px;
    } 
}

section{
height: 800px;
}
.circle{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid green 1px;
  background-color: green;
 position: absolute;
 top: 250px;
 left: 224px;
 z-index: 90;
}
.about{
  margin-top: 182px;
font-size: 61px;
margin-left: 62px;
}
.my-card{
  border: 0 !important;
}
.line{
  height: 0px;
  border: #282c34 solid 1px;
  width: 75%;
  background-color: black;
  margin-left: 51px;
  margin-top: -33px;
}
.text{
  color: #999999 !important;
  letter-spacing: 0px;
  line-height: 2;
  font-size: 27px;
  word-wrap: break-word;
  margin-left: 49px;
}
.spoke{
  font-size: 20px;
}
.call{
  border: 0 !important;
}
.green{
  color: green
  ;font-size: 50px;
}
.foot{
  width: 100%;
  height: 100px;
  background-color: black;
  border: black solid 1px;
}
.phone{
  margin: 18px;
  border-radius: 80%;
}
